{% extends "base.html" %}

{% block title %}Password reset complete{% endblock %}

{% block content %}


	{% if user.is_authenticated %}
		{# Not all the tabs are here... we'll add them as we make the sites #}
		
		<h3>Hello {{ user.get_full_name }}. Your password has been reset.</h3>
	
	{% else %}
		<h3>Sign In</h3>
		<p>Your password has been set.  You may go ahead and sign in now.</p>
		<form method="post" action="{% url login %}">
			{% csrf_token %}
			<fieldset>
				<label for="id_email">Email</label>
				<input id="id_email" type="text" class="required" name="email" maxlength="75"/>
				<label for="id_password">Password</label>
				<input id="id_password" type="password" class="required" name="password"/>
			</fieldset>
			<input type="submit" value="Sign In" />
		</form>
	{% endif %}

{% endblock %}
